/* CSS for om os siden */

/* Master */

/* Styling */

/* Til billeder */
/* 
section 1------------------------------------------------------------ */

#wrapper1 img {
  max-width: 100%;
}

@media (min-width: 1200px) {
  #wrapper1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px;
  }

  #wrapper1 .tekst1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #wrapper1 .tekst2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }

  #wrapper1 .billede1 {
    grid-column: 2/4;
    grid-row: 2/3;
    margin-right: 5%;
  }

  #wrapper1 .billede2 {
    grid-column: 3/6;
    margin-left: 5%;
    grid-row: 2/3;
  }
  #wrapper1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}
.logo1 {
  background-color: rgba(252, 220, 117, 0.856);
  padding: 2px;

  margin: 40px;
  margin-left: 10px;

  box-shadow: 1rem 1rem 1rem rgb(125, 250, 250);
  transition: 0.6s ease transform;
}

.billede1,
.billede2 {
  text-align: center;
}
#wrapper1 figcaption {
  font-family: "ubuntu", sans-serif;
}

/* Til text */
@media (min-width: 400px) {
  .tekst1 p {
    color: black;
    font-size: 1rem;
    font-family: "ubuntu", sans-serif;
    padding: 10px;
  }

  .tekst2 p {
    color: black;
    font-size: 1rem;
    font-family: "ubuntu", sans-serif;
    padding: 10px;
  }
}

#wrapper1 p {
  color: black;
  font-family: "ubuntu", sans-serif;
}

/* section 2 ------------------------------------------------------ */

@media (min-width: 1200px) {
  #wrapper2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 2fr);
    place-items: center;
    margin-top: 5%;
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media (min-width: 400px) {
  #wrapper2 .kontakt p {
    color: black;
    font-family: "ubuntu", sans-serif;
    padding: 10px;
  }

  #wrapper2 .kontakt h2 {
    font-family: "Architects Daughter", sans-serif;
    color: black;
    padding: 10px;
  }
}
#wrapper2 .kort {
  grid-column: 2/5;
  grid-row: 1/2;
}

.kort {
  text-align: center;
  font-size: 20px;
  font-family: "ubuntu", sans-serif;
}

#wrapper2 .kort h2 {
  color: black;
  font-family: "ubuntu", sans-serif;
  font-size: 40px;
  margin-bottom: 5%;
}

label,
input {
  display: block;
  gap: 20px;
}

.form-felt {
  display: grid;
  gap: 20px;
  display: inline-block;
  padding: 5px;
}

button {
  gap: 20px;
  padding: 0.1px;
  margin: 5px;
  margin-left: 0%;
}

footer {
  margin-top: 50px;
}
